@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
.content1{
    height: 80vh;
    width: 100%;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/020/722/864/small/athletic-man-training-biceps-at-the-gym-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.top{
    text-align: center;
    color:white;
}
.top h1{
    font-size: 5rem;
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.top h3{
    font-size: 3rem;
}
.bottom{
    text-align: center;
    color:white;
    height: 45vh;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.bottom h3{
    font-size: 2rem;
    margin:5px 0px;
}
button{
height:3rem;
width:10rem;
margin:auto;
font-size: 1.3rem;
border-radius: 15px;
border:none;
background-color: #333333cc;
color:aliceblue;
padding:0px 5px;
border:1.6px solid black;
display: block !important;
}
button:hover{
    font-size: 1.4rem;
}
.content2{
    height: 60vh;
    width: 100%;
    background-color: #161616fc;

}
.cards{
    height:90%;
    width: 90%;
    margin: 1rem auto;
    /* background-color: rgba(250, 235, 215, 0.148); */
    display: flex;
    
}
.card-con{
    height:90%;
    width:30%;
    background-color:aqua;
    margin:1rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-shadow: 2px 2px 4px rgba(186, 179, 179, 0.931);
}


.cimg1{
    background-image: url(https://images.unsplash.com/photo-1517836357463-d25dfeac3438?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8);
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px 5px rgba(200, 197, 197, 0.5);
}

.cimg2{
    background-image: url(https://media.istockphoto.com/id/909818352/photo/young-sporty-woman-lifting-weights-in-the-gym.jpg?s=612x612&w=0&k=20&c=Y2aeCydOU7EZQrZ6Mu8vg6wv9troX_Qs8_yjFIVb5Uc=);
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px 5px rgba(200, 197, 197, 0.5);
}

.cimg3{
    background-image: url(https://plus.unsplash.com/premium_photo-1661387956755-9933f7fd9832?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGd5bSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px 5px rgba(200, 197, 197, 0.5);
}

.content3{
    height: 30vh;
    width: 100%;
    background-color: #161616fc;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    color:white;
    gap:1rem;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(186, 179, 179, 0.931);
}

.footer{
    height: 60vh;
    width: 100%; 
    background-image: url(https://images.unsplash.com/photo-1612090295965-e506249ccecc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGd5bSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-repeat:no-repeat;
    background-size: cover;
    color: wheat;
    z-index: -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
a{
    text-decoration: none;
}

.footer-inside{
    height:70%;
    width:40%;
    /* background-color: azure; */
    margin:2rem;

}
.footer-inside h1{
    font-size: 3rem;
}
.footer-inside h2{
    font-size: 2rem;
}
.foot1{
    background-color: #191313;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
.foot1 a{
    text-decoration: none;
    color:whitesmoke;
}
.foot1 p{
    margin:2px;
}

@media (min-width:600px)and (max-width:900px){
    .content1{
        height:40vh;
    }
    .bottom{
        height:20vh;
    }
    .cards{
        flex-direction: column;
    }
    .card-con{
        width:80%;
    }
    .content3{
        height:10vh;
    }
    .footer{
        height:30vh;
    }
    .footer-inside h1{
        font-size: 2.8rem;
    }
    .footer-inside h2{
        font-size: 2rem;
    }

}

@media(min-width:400px) and (max-width:600px){
    .content1{
        height:35vh;
    }
    .bottom{
        height:15vh;
    }
    .content2{
        height:50vh;
    }
    .cards{
        flex-direction: column;
    }
    .card-con{
        width:80%;
    }
    .content3{
        height:10vh;
    }
    .footer{
        height:25vh;
    }
    .footer-inside h1{
        font-size: 2.5rem;
    }
    .footer-inside h2{
        font-size: 2rem;
    }
    .footer-inside {
        width:80%;
        margin:0.5rem;
    }
    .foot1{
        font-size: 1rem;
    }
}

@media(max-width:400px){
    .content1{
        height:30vh;
    }
    .top h1{
        font-size: 3rem;
    }
    .top h3{
        font-size: 1rem;
    }
    .bottom{
        height:15vh;
    }
    .bottom h3{
        font-size: 1rem;
    }
    button{
        height:2rem;
        width:8rem;
        font-size:1rem ;
    }
    .cards{
        flex-direction: column;
    }
    .card-con{
        width:80%;
        font-size: .7rem;
        text-align: center;
    }
    .content3{
        height:20vh;
        font-size: 1rem;
    }
    
    .footer{
        height:25vh;
    }

    .footer-inside h1{
        font-size: 1.6rem;
    }
    .footer-inside h2,i{
        font-size: 1.2rem;
    }
    .footer-inside i{
        font-size: 1.2rem;
    }
    .footer-inside {
        width:90%;
        margin:0.5rem;
    }
    .foot1{
  font-size: 0.5rem;
    }
}